module App

open Elmish
open Elmish.React
open Elmish.HMR
open Feliz
open Feliz.Router
open Trinity.Routes

%s { page routesData }
%s { model }
%s { msg routesData }
%s { init routesData }
%s { update routesData }
%s { view routesData }
%s { subscribe routesData }

Program.mkProgram init update view
|> Program.withErrorHandler (fun (msg, ex) -> printfn "Program error handler:\r\n%%s\r\n%%O" msg ex)
|> Program.withReactBatched "app"
|> Program.withSubscription subscribe
|> Program.run
