.DS_Store
obj
bin
.idea/
nupkg
.fsdocs
output
tmp
github-pages
/docs/build/
/MyProject
.elmish-land
*.DotSettings.user
integration-tests/**/bin/
integration-tests/**/obj/
integration-tests/**/node_modules/
integration-tests/**/dist/
integration-tests/create-a-solution-file-when-running-init/App
integration-tests/**/TestProject*
quicktest/TestProject
quicktest/Test