/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero__title {
    color: white;
    margin-inline: 20%;
    font-size: 3rem;
}

.logo {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1500px) {
    .hero__title {
      font-size: 2rem;
    }
  }

@media screen and (max-width: 950px) {
 .hero__title {
    font-size: 1.8rem;
 }
}

@media screen and (max-width: 800px) {
    .hero__title {
       font-size: 1.5rem;
       margin-inline: 0;
    }
   }

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
