# Simple workflow for deploying static content to GitHub Pages
name: Deploy documentation to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      # - name: Paths Changes Filter
      #   uses: dorny/paths-filter@v2.11.1
      #   with:
      #     filters: |
      #       docs:
      #         -
      #           'docs/**'

      - name: Checkout
        # if: steps.changes.outputs.docs == 'true'
        uses: actions/checkout@v3

      - name: Setup Node.js
        # if: steps.changes.outputs.docs == 'true'
        uses: actions/setup-node@v4

      - name: Build
        # if: steps.changes.outputs.docs == 'true'
        run: |
          npm install
          npm run build
        working-directory: ./docs

      - name: Upload documentation
        # if: steps.changes.outputs.docs == 'true'
        uses: actions/upload-artifact@v4.6.0
        with:
          name: github-pages
          path: ./docs/build

      - name: Deploy to GitHub Pages
        # if: steps.changes.outputs.docs == 'true'
        id: deployment
        uses: actions/deploy-pages@v4.0.5
